@model IEnumerable<RecruitementManagementApp.Models.CandidatOffre>

@{
    ViewData["Title"] = "lescandidaturesSelonOffre";
}

<h1>lescandidaturesSelonOffre</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offre.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Frameworks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidat.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Langage)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Githuburl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offre.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Frameworks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.University)
            </td  >
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Langage)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Githuburl)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { codeOffre = item.codeOffre, IdCandidat = item.IdCandidat }) 
                </td>
              @*   <td>
                    <select asp-for="@item.Status" asp-items="Html.GetEnumSelectList<RecruitementManagementApp.Models.ApplicationStatus>()">
                        <option value=""></option>
                    </select>
                </td> *@
           @*  <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PrimaryKey }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
