@model IEnumerable<RecruitementManagementApp.Models.CandidatOffre>

@{
    ViewData["Title"] = "lescandidaturesSelonOffre";
    var users = ViewData["Users"] as SelectList;
}

<h1>lescandidaturesSelonOffre</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offre.Title)
            </th>
            <th>Name</th>
            <th>LastName</th>
            <th>Numero</th>
          
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Frameworks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidat.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Langage)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Candidat.Githuburl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Offre.Title)
                </td>
                @foreach (var userItem in (IEnumerable<SelectListItem>)ViewData["Users"])
                {
                    // var user = (RecruitementManagementApp.Models.User)userItem.Value;
                    var selectedUser = (RecruitementManagementApp.Models.User)ViewBag.SelectedUser;
                
                    <td>
                            @Html.DisplayFor(modelItem => selectedUser.Name)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => selectedUser.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => selectedUser.Numero)
                    </td>

                
                }
          
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Frameworks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Langage)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Candidat.Githuburl)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
              
                <td>
                    @Html.ActionLink("Edit", "Edit", new { codeOffre = item.codeOffre, IdCandidat = item.IdCandidat }) 
                </td>
             
        </tr>
}
    </tbody>
</table>
