@model IEnumerable<RecruitementManagementApp.Models.Offre>

@{
    ViewData["Title"] = "AllOffres";
}

<h1>AllOffres</h1>

@if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null)
{
    <div id="notificationMessage" class="alert @(TempData["SuccessMessage"] != null ? "alert-success" : "alert-danger")">
        @(TempData["SuccessMessage"] ?? TempData["ErrorMessage"])
    </div>

    <script>
        // Automatically hide the notification message after 5 seconds
        setTimeout(function () {
            $('#notificationMessage').fadeOut('slow');
        }, 5000);
    </script>
}


<form class="form-inline my-2 my-lg-0" asp-controller="Candidat" asp-action="FilterOffre" style="padding-right: 25px;">
    <div class="col">
        <input name="searchString" type="text" class="form-control" placeholder="Search for offers..." aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.LeRh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.LeRh.Name)
            </td>

                <td>
                    <a asp-action="Details" asp-controller="Candidat" asp-route-id="@item.codeOffre">Details</a>
                    <a asp-action="Postuler" asp-controller="Candidat" asp-route-id="@item.codeOffre">Postuler</a>
                 
                  

                </td>
        </tr>
}
    </tbody>
</table>
