@model IEnumerable<RecruitementManagementApp.Models.Offre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@* <form class="form-inline my-2 my-lg-0" asp-controller="Offres" asp-action="FilterOffre" style="padding-right: 25px;">
    <div class="col">
        <input name="searchString" type="text" class="form-control" placeholder="Search for a actors..." aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

</form> *@
@using (Html.BeginForm())
{
    <p>
        Genre: @Html.DropDownList("type", "ALL")
        Title: @Html.TextBox("titre")
        <input type="submit" value="Find" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.archived)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.archived)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.codeOffre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.codeOffre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.codeOffre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
